name: Deploy Automatico

on:
  push:
    branches: [ main ]

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
    # Paso 1: Diagn칩stico (Nos dir치 si GitHub ve el secreto o no)
    - name: Verificar si existe el secreto
      env:
        MI_LLAVE: ${{ secrets.DROPLET_SSH_KEY }}
      run: |
        if [ -z "$MI_LLAVE" ]; then
          echo "游댮 PELIGRO: El secreto DROPLET_SSH_KEY est치 VAC칈O o no existe.";
          exit 1
        else
          echo "游릭 칄XITO: El secreto fue encontrado (longitud: ${#MI_LLAVE} caracteres).";
        fi

    # Paso 2: El Deploy
    - name: Deploy a DigitalOcean
      uses: appleboy/ssh-action@v1.0.3
      with:
        host: ${{ secrets.DROPLET_HOST }}
        username: ${{ secrets.DROPLET_USER }}
        key: ${{ secrets.DROPLET_SSH_KEY }}
        port: 22
        script: |
          cd /var/www/nauticapp
          git pull origin main
          systemctl reload nginx